body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('../image/bglogin.png') no-repeat center center fixed;
    background-size: cover;
}

.logo-app {
    display: block;
    margin: 0 auto -40px auto; 
    width: 190px; 
    height: auto;
    margin-top: -80px;
}

@keyframes shineEffect {
    0% {
        filter: brightness(1) blur(0);
        box-shadow: 0 0 10px rgba(191, 0, 255, 0.5), 0 0 10px rgba(204, 0, 255, 0.367), 0 0 10px rgba(221, 0, 255, 0.307);
    }
    50% {
        filter: brightness(1.5) blur(0); /* Efek mengkilat pada gambar */
        box-shadow: 0 0 20px rgba(157, 0, 255, 0.7), 0 0 30px rgba(157, 0, 255, 0.5), 0 0 10px rgba(157, 0, 255, 0.3); /* Glowing luar gambar */
    }
    100% {
        filter: brightness(1) blur(0);
        box-shadow: 0 0 10px rgba(174, 0, 255, 0.5), 0 0 10px rgba(238, 0, 255, 0.438), 0 0 10px rgba(230, 0, 255, 0.712);
    }
}

.left-content .order-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 15px;
    animation: shineEffect 2s infinite alternate; 
}


.order-container {
    padding: 20px;
    width: 900px; 
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.384);
    overflow: hidden;
    background-color: #00000070;
}

.content-wrapper {
    display: flex;
}

.left-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-content {
    width: 100%;
    max-width: 100%;
    padding: 40px;
}

.order-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 15px;
}

.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-content {
    width: 80%;
}

.form-container {
    background: rgba(0, 0, 0, 0.419);
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}


h2 {
    text-align: center;
    color: #ffffff;
}

p {
    text-align: center;
    color: #ffffff;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    background-color: black;
    width: 93%;
    padding: 12px;
    color: rgb(229, 229, 229);
    font-size: 16px;
    margin: 14px 0;
    border: 1px solid #00000060;
    border-radius: 20px;
    transition: 0.3s ease-in-out; 
    box-shadow: 0 0 10px rgba(191, 0, 255, 0.214);
}

input::placeholder {
    color: rgba(255, 255, 255, 0.568);
    opacity: 1; /* Placeholder awal dalam keadaan penuh */
    transition: opacity 0.3s ease-in-out; /* Efek transisi untuk perubahan opacity */
}


input:hover {
    transform: scale(1.05); 
    border-color: #be56ffb0;
    box-shadow: 0px 0px 10px rgba(157, 0, 255, 0.7); 
}

input:focus {
    transform: scale(1.08); 
    border-color: #9d00ff; 
    outline: none; 
    box-shadow: 0px 0px 10px rgba(157, 0, 255, 0.7); 
}

input:hover::placeholder {
    opacity: 0; 
}

input:focus::placeholder {
    opacity: 0;
}

/* agar autofill dari gugel tidak berubah  */
input:-webkit-autofill {
    background-color: black !important; 
    color: white !important; 
    -webkit-text-fill-color: white !important; 
    -webkit-box-shadow: 0 0 0px 1000px black inset !important; 
    transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    background-color: black !important;
    color: white !important;
    -webkit-text-fill-color: white !important; 
}

.button-bawah button {
    width: 40%;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    background-color: #92929258;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    transition: 0.3s ease-in-out; /* Efek transisi */
}

.button-bawah button:hover {
    background-color: #9d00ff;
    transform: scale(1.05); /* Efek zoom-in */
    box-shadow: 0px 0px 10px rgba(196, 100, 255, 0.827); /* Efek bayangan */
}

.button-bawah {
    gap: 20px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

select {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #000000;
    border-radius: 20px;
    background: #000000;
    color: #dbdbdb;
    margin: 13px 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(191, 0, 255, 0.214);
}

select:hover {
    box-shadow: 0 0 10px rgba(157, 0, 255, 0.7);
    transform: scale(1.02);
}

select:focus {
    outline: none;
    box-shadow: 0 0 15px rgba(157, 0, 255, 1);
}

